@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

:root {
  --main-color: #5B6F29;
  --secondary-color: #003455;
  --main-bg-color: #141414;
  --secondary-bg-color: #F3F3F3;
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Desktop CSS */
body {
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Navigation Bar */
#navigation {
  display: flex;
  flex-direction: column;
}
#navigation nav {
  background-color: var(--main-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
}
#navigation nav i {
  padding-left: 1em;
  color: var(--secondary-bg-color);
}
#navigation nav span {
  padding-left: 0.5em;
  font-weight: 700;
  color: var(--secondary-bg-color);
}
#navigation ul {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3.5em;
}
#navigation ul li {
  margin-right: 1em;
  font-size: 2em;
}
#navigation ul li a {
  color: var(--secondary-bg-color);
}
#old-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
}
#old-nav-links #pages {
  margin-left: 1em;
}
#old-nav-links #pages li a {
  text-decoration: none;
  font-size: 0.75em;
}

/* Middle Content */
#main {
  display: flex;
  flex-direction: column;
  margin: 5em 15em;
}
#main h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1em;
}
#main-sign {
  width: 100%;
  margin-bottom: 2em;

}
#features-title {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
#features-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10em;
  margin-bottom: 4em;
}
#feat-con1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 50%;
}
#feat-con1 span {
  display: list-item;
  list-style: disc;
  list-style-position: inside;
}
#feat-con2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 50%;
}
#feat-con2 span {
  display: list-item;
  list-style: disc;
  list-style-position: inside;
}
#four-img-back2back {
  width: 100%;
  margin-bottom: 2em;
}
#rental-info-top-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6em;
}
#rental-info-top-container div h3 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
#rental-info-top-container div span {
  margin-bottom: 0.75em;
}
#rental-info-top-container button {
  height: 2em;
  width: 3em;
  border-style: none;
  border-radius: 0.5em;
  color: var(--secondary-bg-color);
  background-color: var(--main-bg-color);
  font-size: 1.5em;
}
#prices-grid {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
  color: var(--secondary-bg-color);
}
#prices-grid-top {
  display: flex;
  background-color: #24465C;
  height: 1.5em;
  align-items: center;
}
#prices-grid-top #res {
  width: 50%;
  text-align: center;
}
#prices-grid-top #nres {
  width: 50%;
  text-align: center;
}
#prices-grid-bottom {
  display: flex;
  background-color: var(--secondary-color);
  height: 2em;
  align-items: center;
}
#prices-grid-bottom #res {
  width: 50%;
  text-align: center;
}
#prices-grid-bottom #nres {
  width: 50%;
  text-align: center;
}
#rules-title {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
#rules-pic {
  width: 100%;
  margin-bottom: 2em;
}
#rules-desc {
  font-size: 1em;
  line-height: 1.75em;
  margin-bottom: 2em;
}
#contact {
  display: flex;
  justify-content: space-between;
}
#contact div {
  display: flex;
  flex-direction: column;
}
#contact div h3 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
#contact div span {
  font-size: 1em;
  line-height: 1.75em;
}
#rules-call {
  height: 2em;
  width: 3em;
  border-style: none;
  border-radius: 0.5em;
  color: var(--secondary-bg-color);
  background-color: var(--main-bg-color);
  font-size: 1.5em;
}
/* Middle Content for Form Desktop */
#main form {
  display: flex;
  flex-direction: column;
  padding-left: 3em;
  padding-right: 3em;
}
#main form label {
  font-size: 1.5em;
  margin-bottom: 0.4em;
}
#main form input {
  margin-bottom: 1.75em;
  border-style: none;
  border-radius: 0.2em;
  height: 1.2em;
  font-size: 1.5em;
  background-color: var(--main-bg-color);
  color: var(--secondary-bg-color);
}
#main form textarea {
  border-style: none;
  border-radius: 0.4em;
  resize: none;
  font-size: 1.2em;
  font-family: 'Roboto';
  margin-bottom: 1.75em;
  background-color: var(--main-bg-color);
  color: var(--secondary-bg-color);
}
#main form button {
  width: 5.5em;
  height: 3em;
  align-self: flex-end;
  border-style: none;
  border-radius: 0.4em;
  font-size: 1.2em;
  background-color: var(--main-bg-color);
  color: var(--secondary-bg-color);
}
#main form button:hover {
  cursor: pointer;
}
/* Middle Content for FAQ for Desktop*/
.medium-sized-heading {
  font-size: 1.5em;
  margin-bottom: 0.75em;
}
.answers {
  font-size: 1em;
  line-height: 1.75em;
  margin-bottom: 2em;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 20em;
  background-color: var(--secondary-color);
  color: var(--secondary-bg-color);
}
footer h3 {
  font-size: 1.75em;
  margin-left: 8.5em;
}
footer p {
  font-size: 1em;
  margin-left: 15em;
  margin-top: 2em;
  line-height: 1.75em;
}
footer p span {
  font-style: italic;
}

/* Desktop, hide mobile nav */
@media only screen and (min-width: 65em) {
  #mobile-nav {
    display: none;
  }
}

/* Mobile & Tablet CSS */
@media only screen and (max-width: 65em) {
  body {
    background-color: var(--main-bg-color);
    color: var(--secondary-bg-color);
  }

  /* Navigation Bar */
  #old-nav {
    display: none;
  }
  /* hamburger type menu 'topnav' */
  .topnav {
    overflow: hidden;
    background-color: #3b4622;
    position: relative;
  }
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: var(--secondary-bg-color);
    padding: 1em 1.2em;
    text-decoration: none;
    font-size: 1em;
    display: block;
  }
  .topnav a.icon {
    background: var(--main-bg-color);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav a:hover {
    background-color: var(--secondary-bg-color);
    color: var(--main-bg-color);
  }
  .active {
    background-color: var(--main-color);
    font-weight: 700;
  }
  .active i {
    margin-right: 0.5em;
  }

  /* Middle Content */
  #main {
    margin: 3em 2em;
  }
  #features-title {
    margin-bottom: 0.75em;
  }
  .list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10em;
    margin-bottom: 2em;
  }
  .list-con1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 50%;
  }
  .list-con1 span {
    display: list-item;
    list-style: disc;
    list-style-position: inside;
  }
  .list-con2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 50%;
  }
  .list-con2 span {
    display: list-item;
    list-style: disc;
    list-style-position: inside;
  }
  #rental-info-top-container {
    height: 4em;
  }
  #rental-info-top-container div h3 {
    margin-bottom: 0.75em;
  }
  #rental-info-top-container div span {
    margin-bottom: 0.75em;
  }
  #rental-info-top-container button {
    color: var(--main-bg-color);
    background-color: var(--secondary-bg-color);
  }
  #prices-grid {
    margin-bottom: 2em;
  }
  #rules-title {
    margin-bottom: 0.75em;
  }
  #contact div h3 {
    margin-bottom: 0.75em;
  }
  #rules-call {
    color: var(--main-bg-color);
    background-color: var(--secondary-bg-color);
  }
  /* Middle Content for Form Mobile */
  #main form input {
    background-color: var(--secondary-bg-color);
    color: var(--main-bg-color);
  }
  #main form textarea {
    background-color: var(--secondary-bg-color);
    color: var(--main-bg-color);
  }
  #main form button {
    background-color: var(--secondary-bg-color);
    color: var(--main-bg-color);
  }

  /* Footer */
  footer h3 {
    margin-left: 2em;
  }
  footer p {
    margin-left: 3.65em;
  }
}