@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media only screen and (max-width: 40em) {
  body {
    background-color: #141414;
    color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

  /* Navigation Bar */
  #navigation {
    display: flex;
    flex-direction: column;
  }
  #navigation nav {
    background-color: #5B6F29;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2em;
  }
  #navigation nav i {
    padding-left: 1em;
  }
  #navigation nav span {
    padding-left: 0.5em;
    font-weight: 700;
  }
  #navigation ul {
    background-color: #003455;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3.5em;
  }
  #navigation ul li {
    margin-right: 1em;
    font-size: 2em;
  }
  #navigation ul li a {
    color: #F3F3F3;
  }

  /* Middle Content */
  #main {
    display: flex;
    flex-direction: column;
    margin: 3em 2em;
  }
  #main h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
  }
  #main-sign {
    width: 100%;
    margin-bottom: 2em;
  }
  #features-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  /* Footer */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 20em;

    background-color: #003455;
  }
  footer h3 {
    font-size: 1.75em;
    margin-left: 2em;
  }
  footer p {
    font-size: 1em;
    margin-left: 3.65em;
    margin-top: 2em;
    line-height: 1.75em;
  }
  footer p span {
    font-style: italic;
  }
}